'use strict';

import React  from 'react';
import styles from './styles/index.less';

class <%= componentName %> extends React.Component {
  render() {
    return (
      <div>

      </div>
    );
  }
}

export default <%= componentName %>;
